@import url('./variables.css');

section.cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

section.cards .card {
  width: var(--card-width);
  height: var(--card-height);
  border-radius: var(--card-border-radius);
  background-color: var(--card-background-color);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.cards .card .card-content {
  height: calc(var(--card-height) - (var(--card-top-bottom-bars) * 2) - 15px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.cards .card .topBar,
section.cards .card .password,
section.cards .card .email,
section.cards .card .cpf,
section.cards .card .assinaturaEletronica,
section.cards .card .conta,
section.cards .card .weblink,
section.cards .card .description,
section.cards .card .bnt_editar,
section.cards .card .created-updated {
  width: 100%;
  text-align: center;
}

section.cards .card .created-updated {
  margin: 5px auto;
  font-weight: 300;
  font-style: italic;
}

section.cards .card .topBar,
section.cards .card .bnt_editar button {
  height: var(--card-top-bottom-bars);
  width: 100%;
  font-weight: 700;
  border: 1px solid #000;
}

section.cards .card .topBar {
  background-color: var(--card-top-bar-background-color);
  border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
}

section.cards .card .topBar h1 {
  margin-top: 3px;
}

section.cards .card .bnt_editar button {
  cursor: pointer;
  background-color: var(--card-bnt-editar-background-color);
  border-radius: 0 0 var(--card-border-radius) var(--card-border-radius);
}