:root {
  --card-width: 250px;
  --card-height: 450px;
  --card-border-radius: 15px;
  --card-top-bottom-bars: 30px;
  --card-background-color: #c5f5f5f0;
  --card-bnt-editar-background-color: #35fc6d;
  --card-top-bar-background-color: #35fc6d;
}